In [1]:
import matplotlib.pyplot as plt
import seaborn as sns 
import numpy as np
import pandas as pd
from scripts.data_cleaning import load_data

In [2]:
df = load_data("../data/processed/main_dataset.csv")
df

/home/arshiaask/projects/Gold_Usd_Oil_IRR/scripts/data_cleaning.py:10: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_datetime without passing `errors` and catch exceptions explicitly instead
  df["Date"] = pd.to_datetime(df["Date"], errors="ignore")
/home/arshiaask/projects/Gold_Usd_Oil_IRR/scripts/data_cleaning.py:10: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["Date"] = pd.to_datetime(df["Date"], errors="ignore")
/home/arshiaask/projects/Gold_Usd_Oil_IRR/scripts/data_cleaning.py:19: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method="ffill", inplace=True)

           Date      Gold     USD    Oil
0    1403/02/16  32778000  606100  70.79
1    1403/02/17  32894000  602200  71.20
2    1403/02/18  32981000  597200  71.23
3    1403/02/19  33058000  599500  71.27
4    1403/02/20  33113000  634600  71.34
..          ...       ...     ...    ...
204  1403/10/23  52718000  806650  90.29
205  1403/10/24  52834000  814600  90.39
206  1403/10/26  52850000  804850  90.62
207  1403/10/27  53284000  800700  90.77
208  1403/10/29  53535000  805300  91.12

[209 rows x 4 columns]